.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #faf5f2;
}

.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    padding: 20px;
}

button {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(82, 121, 111, 0.4);
    border-radius: 5px;
    background-color: white;
}

button:hover {
    background-color: #CAD2C5;
}

button:active {
    background-color: #52796F;
    color: white;
}

main {
    display: block;
    flex-grow: 1;    
    overflow: hidden;
}


.main-open-sidebar {
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.movie-display {
    overflow: scroll;
}
