.movie-list-container {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.movie-content {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    max-height: calc(100vh - 140px - 64px);
    padding-bottom: 20px;
}

.nothing {
    align-self: center;
    justify-self: center;
}

@media (max-width: 800px) {
    .movie-list-container {
        padding: 10px;
    }

    .open-sidebar {
        width: 0;
        overflow: hidden;
    }
}
