.movie-card {
    box-shadow: 0 0 4px rgb(0, 0, 0, 0.2);
    width: 200px;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    gap: 5px;
}

.movie-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px rgb(0, 0, 0, 0.4);
}

.movie-image {
    width: 100%;
    background-color: #ddd;
}

.movie-title {
    font-size: 18px;
}

.movie-rating {
    font-size: 14px;
    color: #444;
}

@media (max-width: 800px) {
    .movie-card {
        width: 150px;
    }
}

.user-buttons {
    height: 25px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon-container {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
}

.icon {
    height: 100%;
}

.heart,
.eye {
    transition: transform 0.3s, filter 0.2s;
}

.icon:hover {
    transform: scale(1.4);
}

.icon:active {
    transform: scale(0.8);
}

.heart:hover {
    filter: invert(82%) sepia(42%) saturate(6406%) hue-rotate(1deg)
        brightness(104%) contrast(102%)
        drop-shadow(0px 0px 10px rgba(255, 165, 0, 1));
}

.eye:hover {
    filter: invert(12%) sepia(97%) saturate(4511%) hue-rotate(357deg)
        brightness(115%) contrast(122%)
        drop-shadow(0px 0px 10px rgba(255, 0, 0, 1));
}

.eye.iactive {
    filter: invert(12%) sepia(97%) saturate(4511%) hue-rotate(357deg)
        brightness(115%) contrast(122%);
}

.heart.iactive {
    filter: invert(82%) sepia(42%) saturate(6406%) hue-rotate(1deg)
        brightness(104%) contrast(102%);
}